<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel = 'stylesheet' href = '/stylesheets/style.css' />
		<link rel = 'stylesheet' href = '/css/bootstrap.min.css' />
	</head>
	<body>
		<% include ./partials/nav %>
		<p></p>
		<div class = "card boder-primary" style = "width: 60%">
			<form method = "POST" action = "/blogAdd/" style = "padding: 15px">
				<div class = "form-group">
					<label class = "text-primary" for="summery">Blog Title</label>
					<input class = "form-control" id = "title" name = "blogTitle">

					<label for = "detail" class = "text-primary">Blog Text</label>
					<textarea class = "form-control" id = "text" rows = "3" name = "blogText"></textarea>
				</div>
				<input type = "submit" class = "btn btn-primary" value = "Add Blog">
			</form>
		</div>
	</body>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</html>
